
.bubbles {
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bubble {
  background-color: var(--3);
  position: fixed;
  filter: blur(80px);
  border-radius: 50%;
  width: 10rem;
  z-index: -10;
  height: 10rem;
}

.bubble-1 {
  top: -10%;
  width: 20rem;
  filter: blur(170px);
  height: 20rem;
  left: -20%;
  animation: bottomReturn 12s ease-in-out infinite;
  /* display: none; */
}

.bubble-3 {
  filter: blur(50px);
  width: 5rem;
  height: 5rem;
  top: -30%;
  left: 30%;
  right: 30%;
  background-color: var(--g);
  animation: bubbleFloat 12s ease-in-out infinite;
}

.bubble-2{
  bottom: -10%;
  width: 20rem;
  filter: blur(170px);
  height: 20rem;
  right: -20%;
  animation: topReturn 12s ease-in-out infinite;
  /* display: none; */
}

@keyframes bubbleFloat {
  0% {
    filter: blur(50px);
    width: 5rem;
    height: 5rem;
    top: -30%;
    left: 30%;
    right: 30%;
  }
  25% {
    filter: blur(100px);
    width: 10rem;
    height: 10rem;
    top: 10%;
    left: 30%;
    right: 30%;
  }
  50% {
    filter: blur(150px);
    width: 15rem;
    height: 15rem;
    top: 40%;
    left: 30%;
    right: 30%;
  }
  75% {
    filter: blur(200px);
    width: 40rem;
    height: 40rem;
    top: 50%;
    left: 30%;
    right: 30%;
    opacity: 1;
  }
  100% {
    filter: blur(50px);
    width: 5rem;
    height: 5rem;
    top: -30%;
    left: 30%;
    right: 30%;
    opacity: 0;
  }
}

@keyframes topReturn {
  0% {
    top: 110%;
    bottom: -10%;
  }

  50% {
    top: -10%;
  }

  100% {
    top: 110%;
    bottom: -10%;
  }
}


@keyframes bottomReturn {
  0% {
    top: -10%;
    bottom: 110%;
  }

  50% {
    bottom: -10%;
    top: 110%;
  }

  100% {
    top: -10%;
    bottom: 110%;
  }
}

@media screen and (max-width: 500px) {
  .bubble-1 {
  top: -10%;
  width: 14rem;
  filter: blur(120px);
  height: 14rem;
  left: -10%;
}

.bubble-2{
  bottom: -10%;
  width: 14rem;
  filter: blur(120px);
  height: 14rem;
  right: -10%;
}

} 