.contact-us {
  color: var(--1);
  padding: 10vh 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(50px);
}

.contact-container {
  width: 100%;
  max-width: 600px;
  padding: 40px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  border: 1px solid var(--3);
  text-align: center;
}

.contact-container h1 {
  font-size: 3rem;
  color: var(--1);
  font-weight: 100;
  margin:50px 0px;
}

.contact-container p {
  color: var(--2);
  font-size: 1rem;
  margin-bottom: 30px;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  color: var(--1);
  margin-bottom: 15px;
  font-weight: 100;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--5);
  background: rgba(255, 255, 255, 0.05);
  color: var(--1);
  font-size: 1rem;
  outline: none;
  transition: all ease 0.6s;
  font-weight: 100;
}

.form-group input:hover,
.form-group textarea:hover {
  background-color: rgba(0, 0, 0, 0.171);
  border: 1px solid var(--2);


}

.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--g);
  box-shadow: 0 5px 30px black;
  transform: translate(0px, -5px);
}

#whatsapp-btn {
  background: transparent;
  color: var(--g);
  font-weight: 100;
  border: 1px solid var(--g);
  padding: 12px 30px;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.6s;
  margin-top: 20px;
}

#whatsapp-btn:hover {
  color:var(--2);
  background-color: black;
  border: 1px solid var(--2);
  box-shadow: 0px 5px 30px black;
  transform: translate(0px, -5px);
}
