footer.content-section {
  position: relative;
  width: 100%;
  color: #fff;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
}

footer .video-bg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.5);
}

footer .content {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(20px);
  border: 1px solid var(--5);
  box-shadow: 0px 0px 100px black;
  padding: 50px 20px;
  padding-bottom: 0;
}

footer .vertical {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  width: 100%;
}

footer .footer-logo {
  display: flex;
  flex: 1;
  flex-direction: column;
}

footer .footer-logo .img img {
  width: 300px;
  height: 150px;
  object-fit: cover;
  overflow: hidden;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}

.logo-text h2 {
  font-size: 1.2rem;
  width: 80% ;
  color: var(--1);
  font-weight: 100;
}

/* Info Section */
footer .informations {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: left;
}

footer .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 220px;
}

footer .info .label {
  display: flex;
  align-items: center;
  width: 150px;
  font-size: 1rem;
  margin-bottom: 0.4rem;
  font-weight: 200;
  color: #fff;
}

footer .info .icon svg {
  width: 22px;
  height: 22px;
  stroke-width: 1;
  fill: none;
  transition: stroke 0.3s ease;
}

.label .icon {
  display: flex;
  flex-direction: row;  
  align-items: center;
  margin-right:10px;
}

.email-path {
  fill: white;
}

footer svg, footer path {
  fill: transparent;
  stroke: white
}

footer .info:hover .icon svg {
  stroke: #00bcd4;
}

footer .info-data {
  color: #ccc;
  font-size: 0.95rem;
}

/* Pages Links */
footer .pages .link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0;
  gap: 1rem;
}

footer .pages a {
  color: #bbb;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.6s ease;
  text-decoration: none;
}

footer .pages a:hover {
  color: var(--2);
  transform: scale(1.15);
}

/* Social Media */
footer .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}

.social-media svg, .social-media path {
  width: 40px;
  height: 40px;
  fill: white;
  stroke:transparent;
  transition: all 0.6s ease;
}

.social-media .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width:max-content;
  opacity:0.6;
  transition: all ease 0.6;
}

.social-media .icon:hover {
  opacity: 1;
}

.social-media .wa {
  height: 33px;
  width: 33px;
}

footer .social-media .icon svg:hover, .social-media .icon path:hover {
  opacity: 1;
  transform: scale(1.1);
}

footer .copyright {
  text-align: center;
  font-size: 0.8rem;
  color: white;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 450px) {

  footer .info {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width: 220px;
  }

  .info .label {
    margin-top: 20px;
  }
}

@media screen and (max-width: 800px) {
.vertical {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: none;
  flex-wrap: wrap;
  row-gap: 20px;
}

  footer .footer-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .footer-logo .img {
    width: 70%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .footer-logo, .informations {
    max-width: max-content;
    min-width: 300px;
    width: 100%;
  }

  
/* Pages Links */
footer .pages .link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px 0;
  gap: 1rem;
}

footer .pages a {
  color: #bbb;
  font-size: 0.85rem;
  text-transform: capitalize;
  transition: all 0.6s ease;
  text-decoration: none;
}

footer .pages a:hover {
  color: var(--2);
  transform: scale(1.15);
}



  .logo-text {
    flex: 1;
  }


  footer .footer-logo .img img {
    width: 100% ;
    height: 50%;
    object-fit: cover;
    overflow: hidden;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  }


  .logo-text h2 {
    font-size: 1.2rem;
    color: var(--1);
    font-weight: 100;
  }

}

