.name {
  width: 100%;
}

.name-svg {
  display: block;
  width: 50%; /* or 80%, depending on your layout */
  height: auto;
  overflow: visible;
  max-width: 800px; /* optional limit */
  min-width: 300px; /* optional limit */
  margin: 0 auto; /* centers it */
}

.name-path {
  width: 100%;
  fill: transparent;
  stroke: var(--1);
  stroke-width: 0.1;
  stroke-dasharray: 50;
  stroke-dashoffset: 0;
  animation: name 4s ease-in-out forwards;
}

@keyframes name {
  0% {
    stroke-dashoffset: 50;
  }

  50% {
    fill: transparent; 
    filter: none;

  }

  100% {
    fill: white; 
    stroke-dashoffset: 0; 
    filter: drop-shadow(0px 0px 0.5px black);
  }
}

@keyframes name-2 {
  0% {
    stroke-dashoffset: 50;
  }

  80% {
    fill: transparent; 
    stroke: var(--1);  width: 50%;
    filter: none;


  }

  100% {
    fill: white; 
    filter: drop-shadow(0px 0px 0.5px black);
    stroke: transparent;
    stroke-dashoffset: 0; 
  }
}


.name-path-2 {

  animation: name-2 4s ease-in-out forwards;

}
