.services {
  position: relative;
  height: max-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  border: 1px solid var(--5);
  box-shadow: 0px 0px 100px black;

}

.services .content {
  background-color: rgba(0, 0, 0, 0.582);
  backdrop-filter: blur(20px);
  border: 1px solid var(--2);
  box-shadow: 0px 0px 100px var(--4);
  padding: 50px 10px;
}

.title {
  text-align: center;
  width: 100%;
}

.title h3 {
  font-weight: 100;
  font-size: 2rem;
  color: var(--2);
  margin-bottom: 100px;
}

.title h1 {
  font-size: 4rem;
  color: var(--1);
  font-weight: 200;
}

.service-items {
  display: flex;
  flex-direction: row;
  padding: 10px ;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  column-gap: 30px;
}

.head h2 {
  text-align: left;
  font-size: 2rem;
  font-weight: 300;
  transition: all ease 0.6s;
  color: var(--1);
  margin: 0;
}

.service {
  width: 300px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.315);
  border: 1px solid var(--2);
  transition: all ease 0.6s;
  background-color: rgba(148, 148, 148, 0.226) ;
}

.service:hover {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.61);
  border: 1px solid var(--g);
  background-color: rgba(0, 0, 0, 0) ;
  transform: translate(0px, -5px) scale(1.01);
}

.service:hover .head h2 {
  color: var(--g);
}

.service .desc {
  text-align: left;
  padding: 10px;
  margin:0;
}

.service .head {
  padding: 10px;
  margin:0;
}

.service .pic {
  width: 100%;
  transition: all ease 0.6s;
  overflow: hidden;
  padding-bottom: 50px;
}

.service:hover .pic img {
  filter: grayscale(0%);
  transform: scale(1.03);
}

.service .pic img {
  filter: grayscale(100%);
  transition: all ease 0.6s;
  width: 100%;
  box-shadow: 0px 0px 50px var(--4);
}