.services {
  position: relative;
  height: 120vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

.title {
  text-align: left;
  width: 100%;
}

.title h3 {
  font-weight: 100;
  font-size: 2rem;
}

.title h1 {
  font-size: 4rem;
}

.service-items {
  display: flex;
  flex-direction: row;
  padding: 10px ;
  flex-wrap: wrap;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  column-gap: 30px;
}

.head h2 {
  text-align: left;
  font-size: 2rem;
  font-weight: 300;
  color: var(--g);
  margin: 0;
}

.service {
  backdrop-filter: blur(20px);
  width: 300px;
  border-radius: 15px;
  box-shadow: 10px 5px 10px var(--5);
  border: 1px solid var(--5);
  transition: all ease 0.6s;
}

.service:hover {
  box-shadow: 15px 10px 20px var(--5);
  transform: translate(-5px, -5px);
}

.service .desc {
  text-align: left;
  padding: 10px;
  margin:0;
}

.service .head {
  padding: 10px;
  margin:0;
}

.service .pic {
  width: 100%;
}

.service .pic img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
}